.idea/
.vscode/

.env
.venv/
env/
venv/
/tmp/

geoip/

__pycache__/
*.pyc

settings/local.py
settings/local.py.backup
*.sqlite3

touch.txt
/static/
/ci/

*.log

_media/
.python-version
.DS_Store
dump_data.json
/backend/staticfiles/
